body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}